body {
  font-family: Arial, sans-serif;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  padding: 20px;
  background-color:#f3e5f5;
}

.grid-item {
  background-color: #7b1fa2;
  color: rgb(255, 255, 255);
  padding: 30px;
  font-size: 2em;
  text-align: center;
}
