#one {
    width: 1000px;
    height: 400px;
    color: rgb(255, 255, 0);
    font-size: 40px;
    background-color: #7aa874;
    margin: 10px auto; 
    background-image: url("background image1.jpg");
    background-size: cover;
}
#two {
    width: 1000px;
    height: 400px;
    color: YELLOW;
    font-size: 40px;
    background-color: #7aa874;
    margin: 10px auto; 
    background-image: url("background image1.jpg");
    background-size: contain;
}
#three {
    width: 1000px;
    height: 400px;
    color: YELLOW;
    font-size: 40px;
    background-color: #7aa874;
    margin: 10px auto; 
    background-image: url("background image1.jpg");
    background-size: auto;
}