div {
    height: 100px;
    width: 800px;

    background-color: pink;

    border-width: 3px;
    border-style: solid;
    border-color: rgb(0, 217, 255);
    /* border: 5px solid black; */       /* We can also write this syntax */ 
}

h1 {
    border-width: 2.5px;
    border-style: dashed;
    border-color: rgb(128, 0, 255);
}