div {
    height: 150px;
    width: 800px;
    background-color: rgb(255, 251, 0);
    text-align: center;
    font-weight: 900;
    font-size: 50px;
    margin-top: 100px;
    margin-left: 50px;
    box-shadow: -6px -6px 10px red;
}