div {
    height: 400px;
    width: 700px;
    background-color: pink;
    font-size: 3em;

    Animation: abcd 6s ease-in-out 0s infinite normal;
}
@keyframes abcd {
    0% {
        background-color: green;
    }
    30% {
        background-color: yellow;
    }
    65% {
        background-color: blue;
    }
    100% {
        background-color: red;
    }
}