@keyframes fontAnimation {
    from {
        font-size: 10px;
    }
    to {
        font-size: 50px;
    }
    
    from {
        background-color: beige;
    }
    to {
        background-color: burlywood;
    }
}
.box1 {
    height: 130px;
    width: 400px;
    background-color: pink;

    animation-name: fontAnimation;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 3;
    animation-direction: normal;
}
.box2 {
    height: 130px;
    width: 400px;
    background-color: pink;

    animation-name: fontAnimation;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 3;
    animation-direction: reverse;
}
.box3 {
    height: 130px;
    width: 400px;
    background-color: pink;

    animation-name: fontAnimation;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 3;
    animation-direction: alternate;
}
.box4 {
    height: 130px;
    width: 400px;
    background-color: pink;

    animation-name: fontAnimation;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 3;
    animation-direction: alternate-reverse;
}