div ol #test {
    color: red;
}

span b i {
    color: #ff00ff;
}

span b b {
    color: #05b941;
}

span b u {
    color: #7531f2;
}

span b big {
    color: #ff0000;
}

span b small {
    color: #32ede7;
}