h1 {
    text-align: center;
}
#container1 {
    height: 500px;
    width: 70%;
    background-color: azure;
    margin: 10px auto;
    border: 5px solid black;
    display: flex;
    flex-direction: row;
}
#container1 div {
    height: 170px;
    width: 300px;
    color: white;
    text-align: center;
    font-size: 2em;
}
#orange {
    flex-shrink: 1;
}
#blue {
    flex-shrink: 2;
}