h1 {
    text-align: center;
}
#container1 {
    height: 500px;
    width: 50%;
    background-color: azure;
    margin: 10px auto;
    border: 5px solid black;
    display: flex;
    flex-direction: row;
}
#container1 div {
    height: 190px;
    width: 400px;
    color: white;
    text-align: center;
    font-size: 2em;
}
#orange {
    flex-basis: 100px;
}
#blue {
    flex-basis: 200px;
}