.container {
    width: 600px;
    height: 400px;
    background-color: black;
    display: grid;
    grid-template-rows: 70px 70px 70px 70px 70px;
}
.item {
    width: 100px;
    height: 50px;
    background-color: greenyellow;
    border: 2.5px solid rgb(255, 0, 0);
    text-align: center;
}