.container {
    width: 600px;
    height: 400px;
    background-color: black;
    display:grid;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(4,1fr);
}
.item {
    width: 100px;
    height: 50px;
    background-color: greenyellow;
    border: 2.5px solid rgb(255, 0, 0);
    text-align: center;
}
/* Make INSPECT and check the div */