h1 {
    text-align: center;
}
#container1 {
    height: 300px;
    width: 70%;
    background-color: azure;
    margin: 10px auto;
    border: 5px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
}
#container1 div {
    height: 120px;
    width: 120px;
    color: white;
    text-align: center;
    font-size: 2em;
}