div {
    height: 150px;
    width: 400px;
    background-color: pink;
    border-style: solid;
    border-color: rgb(132, 0, 255);

    border-radius: 15px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 0px;

    padding-top: 25px ;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0px;
    /* this also we can write in different format as  */
    /* padding: 25px 20px 0px */

    margin: 20px;
}

button {
    border-radius: 10px;
    border-style: dotted;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 50%;

    margin-left: 390px;
}