body {
    margin: 0;
    height: 100vh;
    background: #020617;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.toast-container {
    margin: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.toast {
    width: 320px;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    gap: 15px;
    color: white;
    font-family: Arial, sans-serif;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.7);
    animation: slideIn 0.6s ease;
}

.toast span {
    font-size: 24px;
}

.success { 
    background: linear-gradient(135deg, #22c55e, #16a34a); 
}
.warning { 
    background: linear-gradient(135deg, #facc15, #eab308); color: black; 
}
.error   { 
    background: linear-gradient(135deg, #ef4444, #dc2626); 
}

@keyframes slideIn {
    from {
        transform: translateX(100px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
