* {
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
}

body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(135deg, #2563eb, #06b6d4);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;       
}

.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card {
    width: 460px;            
    padding: 45px;          
    background: #020617;
    border-radius: 25px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

h2 {
    font-size: 30px;       
    color: #67e8f9;
    margin: 0;
}

.subtitle {
    font-size: 18px;
    color: #b1abb3;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input {
    padding: 20px;         
    font-size: 18px;
    border-radius: 35px;
    border: none;
    outline: none;
    background: #0f172a;
    color: #e5e7eb;
}

input::placeholder {
    color: #b1abb3;
}

button {
    padding: 18px;        
    font-size: 20px;
    border-radius: 35px;
    border: none;
    background: linear-gradient(135deg, #06b6d4, #67e8f9);
    color: #020617;
    cursor: pointer;
}

button:hover {
    transform: scale(1.025);
}

.footer {
    font-size: 20px;
    color: #94a3b8;
}

.footer span {
    color: #67e8f9;
    cursor: pointer;
}
