#mainTopic{
    color:blue;
}
*{
    text-align:center;
}
h1,h3,h5 {
    font-family:Georgia;
}
.content{
    color:white;
    background-color:cornflowerblue;
}
button {
    color: azure;
    background-color:purple;
}
button:hover{
    color: blue;
    background-color:yellow;
}
p:nth-of-type(1) {
    color:rgb(255, 0, 0);
}
p:nth-of-type(3) {
    color:rgb(255, 0, 0);
}
h1:first-letter {
    color:red;
}