.face {
    width: 600px;
    height: 600px;
    background-color: #ffa511;
    border-radius: 50%;
}
.mouth {
    width: 250px;
    height: 100px;
    background-color: brown;
    position: absolute;
    top: 350px;
    left: 175px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
} 
.left-eye , .right-eye {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: black;
    display: inline-block;
    position: absolute;
    left: 175px;
    top: 150px;
}
.right-eye {
    left: 355px;
}
