#container {
    height: 700px;
    width: 1300px;
    margin: 0px auto;
    display: grid;
    grid-template-rows: repeat(12,1fr);
    grid-template-columns: repeat(12,1fr);
    grid-gap: 10px 10px;
}
#container div {
    background-color: pink;
    font-size: 2em;
}

#header {
    grid-column: 1 / span 12;
}
#sidebar {
    grid-row: 2 / span 10;
    grid-column: 1 /span 3;
}
#navigation {
    grid-column: 4 / span 6;
}
#ads {
    grid-column: 10 / span 3;
    grid-row: 2 / span 10;
}
#main {
    grid-row: 3 / span 9;
    grid-column: 4 / span 6;
}
#footer {
    grid-column: 1 / span 12;
}