section {
    margin-top: 100px;
    margin-left: 100px;

}
div {
    width: 200px;
    height: 50px;
    text-align: center;
    background-color: #7aa874;
    border: 2px solid black;
    margin: 10px;
}
div:nth-of-type(2n) {
    background-color: #f7db6a;
}
div:nth-of-type(3n) {
    background-color: #ff6262;
}

/* transform */
#one {
    transform: scaleX(5);
}
#two {
    transform: scale(1.5)
}
#three {
    transform: scale(0.7)
}
#four {
    transform: scale(1.4)
}
#five {
    transform: scaleY(4)
}