h1 {
    text-decoration: underline;
    text-decoration-color:red;
}

h2 {
    text-decoration: line-through;
    text-decoration-color:green;
}

h3 {
    text-decoration: blue overline;
}

p {
    text-decoration:dotted overline;
    text-decoration-color:rgb(255,0,255)
}

b {
    text-decoration: wavy underline;
    text-decoration-color: #ff324f
}

i {
    text-decoration: wavy line-through;
    text-decoration-color:rgb(0,255,255)
}