div {
    height: 300px;
    width: 300px;
    background-color: black;
    transition-duration: 1s;
    transition-delay: 3s;
    margin: 70px;
}
div:hover {
    background-color: red;
    border-radius: 50%;
}