section {
    margin-top: 100px;
}
div {
    width: 200px;
    height: 50px;
    text-align: center;
    background-color: #7aa874;
    border: 2px solid black;
    margin: 10px auto;
}
div:nth-of-type(2n) {
    background-color: #f7db6a;
}
div:nth-of-type(3n) {
    background-color: #ff7777;
}

/* transform */
#one {
    transform: rotate(30deg);
}
#two {
    transform: scale(0.5);
}
#three {
    transform: translateX(-100px);
}
#four {
    transform: translateY(40px);
}
#five {
    transform: translate(100px,100px)
}