div {
    height: 100px;
    width: 100px;
    background-color: red;
    margin: 0 auto;
    margin-top: 10px; 
    transition: margin-top 4s ease-in-out 0.3s; 
}
div:hover {
    margin-top: 600px;
    background-color: black;
}