div {
    height: 200px;
    width: 400px;
    background-color: pink;
    border-style: solid;
    border-color: rgb(132, 0, 255);

    border-radius: 12px;

    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 0px;
}