.box {
    height: 150px;
    width: 150px;
    border: 2px solid black;
    background-color: pink;
    font-size: 2em;
    text-align: center;
}
.one {
    background-color: aquamarine;
}
.two {
    background-color: darksalmon;
    position: relative;
    bottom: 50px;
    z-index: 2;
}