h1 {
    text-align: center;
}
#container1 {
    height: 300px;
    width: 50%;
    background-color: azure;
    margin: 10px auto;
    border: 5px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; 
}
#container1 div {
    height: 100px;
    width: 500px;
    color: white;
    text-align: center;
    font-size: 2em;
}