h1 {
    text-align: center;
}

#container1 {
    height: 300px;
    width: 50%;
    background-color: azure;
    margin: 10px auto;
    border: 5px solid black;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;  
}
#container1 div {
    height: 100px;
    width: 120px;
    color: white;
    text-align: center;
    font-size: 2em;
}

#container2 {
    height: 300px;
    width: 50%;
    background-color: azure;
    margin: 10px auto;
    border: 5px solid black;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}
#container2 div {
    height: 100px;
    width: 120px;
    color: white;
    text-align: center;
    font-size: 2em;
}

#container3 {
    height: 300px;
    width: 50%;
    background-color: azure;
    margin: 10px auto;
    border: 5px solid black;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
#container3 div {
    height: 35px;
    width: 120px;
    color: white;
    text-align: center;
    font-size: 2em;
}

#container4 {
    height: 300px;
    width: 50%;
    background-color: azure;
    margin: 10px auto;
    border: 5px solid black;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
}
#container4 div {
    height: 35px;
    width: 120px;
    color: white;
    text-align: center;
    font-size: 2em;
}