.container {
    width: 600px;
    height: 400px;
    background-color: black;
    display:grid;
    grid-template-rows: 80px 80px 80px 80px 80px;
    grid-template-columns: 200px 200px 200px;
}
.item {
    width: 100px;
    height: 50px;
    background-color: greenyellow;
    border: 2.5px solid rgb(255, 0, 0);
    text-align: center;
}
/* Make INSPECT and check the div */