.container {
    width: 600px;
    height: 400px;
    background-color: black;
    display:grid;
    grid-template-rows: repeat(8,1fr);
    grid-template-columns: repeat(6,1fr);
}
.item {
    background-color: greenyellow;
    border: 2px solid rgb(255, 0, 0);
    text-align: center;
}
.one {
    grid-column: 1 / span 3;
}
/* Make INSPECT and check the div */