.container {
    width: 600px;
    height: 400px;
    background-color: black;
    display:grid;
    grid-template-rows: repeat(8,1fr);
    grid-template-columns: repeat(6,1fr);
}
.item {
    width: 100px;
    height: 50px;
    background-color: greenyellow;
    border: 2px solid black;
    text-align: center;
}
.two {
    grid-row-start: 1;
    grid-row-end: 5;
}
.one {
    grid-column-start: 1;
    grid-column-end: 4;
}
/* Make INSPECT and check the div */