section {
    margin-top: 150px;
}
div {
    width: 200px;
    height: 50px;
    text-align: center;
    background-color: #7aa874;
    border: 2px solid black;
    margin: 10px;
}
div:nth-of-type(2n) {
    background-color: #f7db6a;
}
div:nth-of-type(3n) {
    background-color: #f17b7b;
}

/* transform */
#one {
    transform: rotate(45deg)
}
#three {
    transform: rotate(-20deg);
}
#five {
    transform: rotate(90deg)
}