p {
    color: #964B00;
    text-align: center;
    line-height: 30px;
}
h1 {
    text-align: center;
    color: red;
}
h3 {
    text-align: center;
    color: black;
}
h4 {
    text-align: center;
}
body {
    color: red;
    font-family: Georgia;
}
a {
    color: rgb(0,185,0) ;
    text-decoration: none
}
button {
    background-color: white;
    color : blueviolet;
}
textarea {
    color: blue;
}
