body{
  margin:0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.6em;
}

.dashboard{
  display:flex;
  height:100vh;
}

.sidebar{
  width:220px;
  background:#333;
  color:rgb(255, 255, 255);
  padding:20px;
}

.main{
  flex:1;
  padding:20px;
}

.stats{
  display:flex;
  gap:20px;
  margin-top:20px;
}

.box{
  flex:1;
  background:#2da424c4;
  color:white;
  padding:30px;
  text-align:center;
}
