body {
    margin: 0;
    background: #80e0b9;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.navbar {
    margin-top: 50px;
    width: 90%;
    max-width: 800px;
    display: flex;
    justify-content: space-around;
    background: #111827;
    padding: 15px 0;
    border-radius: 12px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    padding: 10px 20px;
    transition: background 0.3s, transform 0.3s;
}

.navbar a:hover {
    background: #2563eb;
    border-radius: 10px;
    transform: scale(1.5);
}
