body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(135deg, #b4c2ff, #0b1ff3);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.pricing {
    display: flex;
    gap: 60px;
}

.plan {
    width: 200px;
    background: #0f172a;
    color: white;
    padding: 30px 50px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 15px 40px rgba(0,0,0,0.8);
    transition: transform 0.5s, box-shadow 0.5s;
}

.plan:hover {
    transform: translateY(-15px);
    box-shadow: 0 30px 70px rgba(0,0,0,1);
}

.popular {
    border: 2px solid #38bdf8;
    transform: scale(1.1);
}

.price {
    font-size: 30px;
    margin: 15px 0;
    color: #38bdf8;
}

ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

ul li {
    padding: 8px 0;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

button {
    margin-top: 20px;
    padding: 12px 30px;
    border: none;
    border-radius: 25px;
    background: #38bdf8;
    color: #020617;
    font-size: 20px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: #0ea5e9;
}

li:hover {
    background-color: rgb(54, 118, 255);
    transform: scale(1.2);
}