* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-app {
    width: 360px;
    height: 600px;
    background: #0f172a;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 20px 60px rgba(0,0,0,0.8);
    overflow: hidden;
}

.chat-header {
    padding: 15px;
    background: #020617;
}

.user {
    display: flex;
    align-items: center;
    gap: 12px;
}

.avatar {
    width: 42px;
    height: 42px;
    background: #38bdf8;
    color: #020617;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-weight: bold;
}

.user h3 {
    margin: 0;
    color: white;
}

.user span {
    font-size: 12px;
    color: #22c55e;
}

.chat-body {
    flex: 1;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: linear-gradient(#020617, #0f172a);
}

.msg {
    max-width: 70%;
    padding: 10px 14px;
    border-radius: 14px;
    font-size: 14px;
}

.received {
    align-self: flex-start;
    background: #1e293b;
    color: white;
}

.sent {
    align-self: flex-end;
    background: #38bdf8;
    color: #020617;
}

.chat-footer {
    display: flex;
    padding: 20px;
    background: #232323;
    gap: 10px;
}

.chat-footer input {
    flex: 1;
    padding: 10px;
    border-radius: 20px;
    border: none;
    outline: none;
}

.chat-footer button {
    width: 42px;
    border: none;
    border-radius: 50%;
    background: #38bdf8;
    color: #020617;
    font-size: 18px;
    cursor: pointer;
}
