#container1 {
    height: 600px;
    width: 600px;
    background-color: rgb(255, 255, 255);
    margin: 50px auto;
    border: 3px solid rgb(84, 141, 100);
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
#container1 div {
    height: 150px;
    width: 150px;
    background-color: darkgray;
    font-size: 4em;
    font-weight: 600;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 12px;
    text-align: center;
}