div {
    height: 100px;
    width: 100px;
    background-color: green;
    text-align: center;
    border: 3px solid black;
    margin: 20px;
    display: inline-block;
}

#static {
    background-color: yellow;
    position: static;
    top: 100px;   /* we can set a properties but it cannot change due to static position */
    left: 100px;  /* we can set a properties but it cannot change due to static position */
}

h2 {
    padding-left: 20px;
}